/*
=============== 
Variables
===============
*/

:root {
 --clr-white: #fff;
 --ff-primary: 'Poppins', sans-serif;
 --spacing: 0.25rem;
 --radius: 0.5rem;
 --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
 --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
}

/*  global classes */

.btn {
 text-transform: uppercase;
 padding: 0.375rem 0.75rem;
 letter-spacing: var(--spacing);
 display: inline-block;
 font-weight: 700;
 font-size: 0.875rem;
 border: 2px solid transparent;
 cursor: pointer;
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
 border-radius: var(--radius);
}
.btn:hover {
 /* color: var(--clr-primary-1);
 background: var(--clr-primary-7); */
}

h1{
 color: brown;
}