/*
=============== 
Variables
===============
*/

:root {
  --clr-white: #fff;
  --ff-primary: 'Poppins', sans-serif;
  --spacing: 0.25rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
}

/*  global classes */

.btn {
  text-transform: uppercase;
  padding: 0.5rem 2.5rem;
  display: inline-block;
  font-weight: 700;
  font-size: 1rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: var(--radius);
}
.btn:hover {
  /* color: var(--clr-primary-1);
  background: var(--clr-primary-7); */
}

/* banner section */
.section-banner{
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
.section-center{
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  min-height: 100vh;
}
.banner-container{
  display: flex;
}
.banner-left{
  flex: 1;
  padding: 3rem 2rem 2rem 0;
}
h1{
  font-size: 3rem;
  margin-bottom: 2rem;
}
.name{
  color: orange;
}
.banner-left h3{
  margin-bottom: 1.5rem;
}
.banner-left p{
  color: dimgray;
  margin-bottom: 0.5rem;
}
.btn-hireme{
  background: linear-gradient(45deg, lightsalmon, tomato);
  color: var(--clr-white);
}
.banner-right{
  flex: 0.85;
  position: relative;
}
/* end of banner section */

/* dream section */
.section-dream{
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
.dream-container{
  display: flex;
}
.dream-left{
  flex: 0.85;
}
.dream-right{
  flex: 1;
  padding: 2rem 0 2rem 6rem;
}
.dream-right h3{
  margin-bottom: 1.5rem;
}
.dream-right p{
  color: dimgray;
  margin-bottom: 0.5rem;
}
/* end of dream section */